{% extends 'base.html' %}


{% block title %}
    actualizar empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Actualizar Empleado</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" action="" method="POST"> {% csrf_token %}
                <div class="cell large-6">
                    <label>Nombres:
                      {{form.first_name}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Appellidos:
                      {{form.last_name}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo:
                      {{form.job}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Area:
                      {{form.departament}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Habilidades extra:
                      {{form.habilidades}}
                    </label>
                </div>
                <div class="cell">
                    <button class="success button" type="submit">Guardar</button>    
                </div>
                
            </form>
        </div>

    </div>
</div>

{% endblock content %}

